<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/base}">
<head>
<title th:text="${title}">Form Category</title>
</head>
<body>
	<main layout:fragment="content">
		<h2 class="h4 mb-3" th:text="${title}">Thêm/Sửa</h2>
		<form
			th:action="${category.id} == null ? @{/categories} : @{'/categories/' + ${category.id}}"
			th:object="${category}" method="post" class="row g-3">


			<div class="col-12">
				<label class="form-label">Tên <span class="text-danger">*</span></label>
				<input type="text" class="form-control" th:field="*{name}"
					placeholder="Nhập tên danh mục">
				<div class="text-danger small" th:if="${#fields.hasErrors('name')}"
					th:errors="*{name}"></div>
			</div>


			<div class="col-12">
				<label class="form-label">Mô tả</label>
				<textarea class="form-control" rows="3" th:field="*{description}"
					placeholder="Mô tả ngắn..."></textarea>
			</div>


			<div class="col-12">
				<div class="form-check">
					<input class="form-check-input" type="checkbox"
						th:field="*{active}" id="active"> <label
						class="form-check-label" for="active">Kích hoạt</label>
				</div>
			</div>


			<div class="col-12 d-flex gap-2">
				<button class="btn btn-primary" type="submit">Lưu</button>
				<a class="btn btn-outline-secondary" th:href="@{/categories}">Huỷ</a>
			</div>
		</form>
	</main>
</body>
</html>